    #game-wrapper {
        width: 1500px;
        height: 800px;
        margin: 50px auto;
        position: relative;
    }
    
    canvas {
        border: 1px solid black;
    }
    
    .pre-loader {
        position: absolute;
        width: 1500px;
        height: 800px;
        background-color: #686b69;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    h1 {
        font-size: 4rem;
        color: white;
        font-weight: bolder;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    
    button {
        padding: 20px;
        margin: 20px;
    }
    
    .high-score {
        font-size: 3rem;
    }